{% extends 'base3.html' %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>Quieres eliminar el producto "{{ object }}"?</p>
        <input type="submit" value="Sí, si quiero">
        <a href="{% url 'productos:lista' %}">Mejor no</a>
    </form>
</body>
</html>
{% endblock contenido %}